header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
    text-decoration:underline;
    transition: 0.5s;
	color: rgb(99, 31, 0);	
}

.formulario{
	border: solid;
	border-color: grey;
	margin: 2% 30% 30% 30%;
}

h2{
	margin-top: 2%;
	text-align: center;
	margin-bottom: 0.5%;
	font-size: 30px;
}

label{
	margin-left: 5%;
}

input{
	margin-top: 1%;
	margin-left: 5%;
	margin-bottom: 0.5%;

}

.txt{
	width: 515px;
}

select{
	margin-top: 1%;
	margin-left: 5%;
	margin-bottom: 0.5%;
}

textarea{
	margin-left: 5%;
	margin-bottom: 0.5%;
}

button{
	color: white;
    text-align: center;
    width: 300px;
    padding: 15px 20px;
    border: orange;
    background-color: orange;
    font-size: 18px;
    margin: 2% 31%;
}